{% from 'macros/google_auth_btn.html' import google_btn %}

{% macro user_info_forms(form, page_title, btn_text, current_user) %}
<section class="bg-gray-50">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold text-center leading-tight tracking-tight text-gray-900 md:text-2xl">
                {{ page_title }}
            </h1>
            {% if not current_user.is_authenticated %}
            <div class="flex justify-center">
                {{ google_btn("Sign up with Google account") }}
            </div>
            {% endif %}
            <form class="space-y-4 md:space-y-6" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        {{ form.first_name.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                        {{ form.first_name(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                        rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                        placeholder="First name") }}
                    </div>
                    <div>
                        {{ form.last_name.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                        {{ form.last_name(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                        rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                        placeholder="Last name") }}
                    </div>
                </div>
                <div>
                    {{ form.email.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                    {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                    rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                    placeholder="example@email.com") }}
                </div>
                {% if not current_user.is_authenticated or current_user.user_type==1 %}
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        {{ form.password.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                        {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                        rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                        placeholder="*********") }}
                    </div>
                    <div>
                        {{ form.confirm_password.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                        {{ form.confirm_password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                        rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                        placeholder="*********") }}
                        {% if form.confirm_password.errors %}
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <button type="submit"
                        class="w-full text-white bg-gray-600 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    {{ btn_text }}
                </button>
                <p class="text-sm font-light text-gray-500">
                    Don’t have an account yet? <a href="#"
                                                  class="font-medium text-primary-600 hover:underline">Sign
                    up</a>
                </p>
            </form>
        </div>
    </div>
</section>
{% endmacro %}
